.scroll-box {
  overflow:auto;
  position: absolute;
  background-color: #313338;
  bottom: 20px;
  border: 1px solid black;
}

.button {
  position: relative;
  top: 36px;
  right: 100px;
  width: 50px;
  z-index: 1;
}

.graph {
  position: relative;
  left: 100px;
  top: 50px;
}

.radio-button-group {
  position: absolute;
  bottom: 40px;
}

.text-input {
  position: absolute;
  top: 10px;
  z-index: 1;
}

body {
  background-color: #313338;
}

p {
  color: blue;
}
